DirectoryIndex index.php index.html index.htm

<IfModule mod_rewrite.c>
   RewriteEngine On

   # Ensure HTTPS is used, while allowing certain exceptions
   RewriteCond %{HTTPS} off
   RewriteCond %{REQUEST_URI} !^/\.well-known/(acme-challenge|cpanel-dcv|pki-validation)/ [NC]
   RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

   # Handle requests for files that don't exist
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteCond %{REQUEST_URI} !^/\.well-known/(acme-challenge|cpanel-dcv|pki-validation)/ [NC]

   # If the request doesn't contain a dot (not pointing to a file extension), add ".php" and serve
   RewriteRule ^([^\.]+)$ $1.php [NC,L]

</IfModule>
